.Rproj.user
.Rhistory
.RData
.Ruserdata
CAG 2021 Lobb Final.pptx
Enviro expo
Lake Winnipeg Research Koiter.pptx
Connectivity PCAG abstract.odt
IUGG 2019
MAW 2021
MB_Beef
Reproducibility.odt
TCMW
U winnipeg
U_of_M_ER
.~lock*
